/******** CSS for all page ************/
*,
*::before,
*::after {
  box-sizing: inherit; 
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}



/******** font size ************/
html {
    font-size: 62.5%;
  }
 
  
/******** STYLE for body ************/
body {
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  
}

/*******Typography***********/
h1 {
  font-weight: 400;
  color: #143774;
  font-size: 3rem;
}


/******* STYLE FOR FORM ***********/
.container a{
  display: inline-block;
  color: #fff;
  margin-bottom: 0.5em;
 }
 .container a:hover{
  text-decoration: none;
 } 
 .container{
   width: 450px;
   height: 500px;
   background-color: rgba(24, 33, 52, 0.7);
   margin:250px auto 0 auto;
   text-align: center;
   box-shadow: 0 -5px 0 #3adcfdb7;
   border-radius: 0 0 10px 10px;
   margin-bottom: 2em;
   margin-top: 4em;
 }
 input[type="text"],input[type="password"]{
  width: 300px;
  height:50px;
  font-size: 18px;
  margin-bottom: 25px;
  border-radius: 4px;
  padding-left: 40px;
 } 
 .container img{
  width:120px;
  height:120px;
  margin: -60px 0 30px 0;
  border: 5px solid #1a394fab;
  border-radius: 50%;
  box-shadow: 0 -5px 0 #3adcfdc2;
 }
 .dws-submit {
  padding: 13px 30px;
  margin: 5px 0 20px 0;
  font-size: 15px;
  color: #fff;
  background-color: #2ca7c6a4;
  border: none;
  border-bottom: 4px solid #6eeafdaf;
  cursor: pointer;
 }   
 .dws-submit:hover{
  transition: all 0.5s;
  background: #fff;
  color: #2c536c;
 }
 .dws-input::before{
  font-family: "FontAwesome";
  content: "\f007";
  position: absolute;
  font-size: 30px;
  padding: 10px 0 0 7px;
  color: #2c536c;
 }    
 .dws-input:nth-child(2)::before{
  content: "\f023";
  }   
.dws-input:hover::before{
    color: #319ebc;
    transition: all 0.3s;
}   
.dws-input input:hover{
  box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
 }   
 

 


/*******Header style***********/

header {
  text-align: center;
  padding: 2em 0;
  background: rgba(0, 0, 0, 0.1);
}
.subtitle {
  margin-bottom: 2em;
  display: block;
  font-weight: 600;
  color: #0c8cd1;
  font-size: 1.4rem;
}
/*******NAVIGATION style***********/

nav {
  --nav-main-color: #707070;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center; /* center across main axis */
}

nav li {
  margin: 0 1em;
}

nav a {
  text-decoration: none;
  color: var(--nav-main-color);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.25em 0;

  transition: .5s;
}

/*******NAV style***********/
nav a:hover,
nav a:focus {
  color: #0c8cd1;
  border-bottom-color: currentColor; /* same as element color */
}

/************Border for curr page style***********/
.current-page {
  border-bottom: 1px solid var(--nav-main-color);
}

/************IMG style***********/
.auto_1{
    margin: 0;
    height: 70vh;
    position: relative;
    text-align: center;
    color:#2E354F;
    font-size: 7rem;
   
  
}
/************IMG  background style***********/
.back_ground{
    display: block;
    width:100%;
    height: 100%;
    object-fit: cover;
    
}

/*******Text style inside the picture***********/
.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(12, 140, 209, 0.61);
    
 }
 
/*******Main style***********/
main {
  
  background: rgba(0, 0, 0, 0.986);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* STYLES SPECIFIC TO FOOTER  */
footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
 
}

footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.footer .col a{
  text-decoration: none;
  color: #999999;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li a:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
/************Sotial network style***********/
.facebook, .instagram, .twitter, .youtube{
 float: right;
 margin-top: 150px  !important;
 margin: 5px 5px;
}

/************Responsive style***********/
@media (max-width:650px){
  html{
    font-size: 65%;
  }
 
  h1,h2,h3 {
     margin: .5em 0;
  }

  section{
    margin-left: auto;
    margin-right: auto;
  }

  .video-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  iframe{
    width: 90%;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
  }

.footer, .contain, .col{
  width: 200px;
    font-size: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .sotial_net{
    display: flex;
    width: 50%;
    margin: 3px 3px !important;

  }
 
}

@media (max-width:440px){
  html{
    font-size: 40%;
  }
 
  h1,h2,h3 {
     margin: .3em 0;
  }

  section{
    margin-left: auto;
    margin-right: auto;
  }

  .video-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  iframe{
    width: 90%;
    margin: 3px;
    margin-left: auto;
    margin-right: auto;
  }

.footer, .contain, .col{
  width: 200px;
    font-size: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .sotial_net{
    display: flex;
    width: 50%;
    margin: 3px 3px !important;
    
  }
  
  }
}
